name: Mirror from GitVerse

on:
  schedule:
    - cron: '*/30 * * * *'   # каждые 30 минут
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Mirror repository
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          git clone --mirror https://gitverse.ru/Zavalar/twitch_chat_parser.git mirror
          cd mirror
          git push --mirror https://${GH_TOKEN}@github.com/Ishafel/twitch_chat_parser.git
